html,body {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    /* border: 1px solid red; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* flex-wrap: nowrap; */
    font-family: Roboto;
    background-color: #1f2937;
    color: white;
}

.logo {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: bolder;
    margin-left: 510px;
    flex-shrink: 0;
}

.header-links,
.header-text {
    font-size: 18px;
    color: #e5e7eb;
    /* border: 1px solid red; */
}

.header-link-one {
    margin-left:auto;
}

.header-link-three {
    margin-right: 510px;
}

.header-2 {
    /* border: 1px solid red; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #1f2937;
}

.header-2-left {
    /* border: 1px solid red; */
    width: 400px;
    height: 180px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.header-2-right {
    /* border: 1px solid red; */
    width: 450px;
    height: 180px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-2-hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
    /* border: 1px solid red; */
    margin: 0;
}

.header-text {
    margin: 0;
}

.header-button {
    background-color: #3882F6;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bolder;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border:none;
}

.body-1 {
    /* border: 1px solid red; */
    height: 300px;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-1-header {
    /* border: 1px solid red; */
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 0px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.body-1-container {
    /* border: 1px solid red; */
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.body-1-content {
    /* border: 1px solid red; */
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.body-1-content-box {
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 150px;
    height: 130px;
}

.body-1-content-text{
    width: 150px;
    text-align: center;
}

.body-2 {
    /* border: 1px solid red; */
    height: 300px;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    /* border: 1px solid red; */
    width: 750px;
    height: 160px;
    font-size: 36px;
    font-family: Light Italic;
    font-weight: 100;
    color: #1f2937;
}

.quote-author {
    /* border: 1px solid red; */
    text-align: right;
    width: 720px;
    font-size: 24px;
    font-weight: 700;
}

.body-3 {
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0; 
    /* border: 1px solid red; */
}

.body-3-content {
    /* border: 1px solid red; */
    width: 900px;
    height: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-3-left {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.body-3-left h6 {
    /* border: 1px solid red; */
    margin: 0;
    font-size: 24px;
    color: #e5e7eb;
}

.body-3-left p {
    /* border: 1px solid red; */
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.body-button {
    border: 1px solid white;
}

.footer {
    height: 200px;
    /* border: 1px solid red; */
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    background-color: #1f2937;
    color: white;
}